.title {
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    /* 適宜マージンを追加 */
}

.text {
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    /* 適宜マージンを追加 */
}

@media (min-width: 600px) {
    .title {
        font-size: calc(32px + (10 * (100vw - 600px) / 400));
    }

    .text {
        font-size: calc(13px + (4 * (100vw - 600px) / 400));
    }
}