info.module.css .info {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.overlap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    /* Add some space between items */
    text-align: center;
    /* Center align text */
}

.rectangle {
    width: 100%;
    max-width: 800px;
    /* Set a max width for better responsiveness */
    height: auto;
}

.group {
    width: 100%;
    max-width: 800px;
    height: 370px;
    /* Set a max width for better responsiveness */
    text-align: left;
    /* Center align text */
    /* border: solid; */
}

.element {
    font-family: "Quantico", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.span {
    font-family: "Quantico", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
}

.text_wrapper {
    font-size: 20px;
}

.title {
    font-size: 32px;
    font-weight: bold;
}

/* Media query for responsive design */
@media (min-width: 600px) {
    .overlap {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .rectangle,
    .group {
        flex: 1;
        max-width: 50%;
    }

    .title {
        font-size: calc(32px + (10 * (100vw - 600px) / 400));
    }
}

@media (max-width: 600px) {

    .element,
    .span {
        font-size: 28px;
    }

    .text_wrapper {
        font-size: 18px;
    }
}