.logoContainer {
    display: flex;
    align-items: center;
}

.logoImage {
    width: 10vw;
    /* 基本の幅を設定 */
    height: auto;
    max-width: 88px;
    /* 最大幅を設定 */
    min-width: 60px;
    /* 最小幅を設定 */
}

.logoText {
    font-size: 3vw;
    /* 基本のフォントサイズを設定 */
    font-weight: bold;
    margin-left: 10px;
}

@media (min-width: 600px) {
    .logoImage {
        width: calc(60px + (28 * ((100vw - 600px) / 400)));
        /* 600pxから1000pxまでの間でスムーズに変化 */
    }

    .logoText {
        font-size: calc(20px + (10 * ((100vw - 600px) / 400)));
        /* 600pxから1000pxまでの間でスムーズに変化 */
    }
}